.buttons {
	width: 120px; 
	height: 50px; 
	font-weight: bold;
}
body{
	background-color: #D2C0FF;
}
.editDiv {
	display: flex;
}
label {
	margin-left: 5px;
	margin-right: 5px;
}
.editButtons {
	margin-left: 0px;
	margin-right: 2px;
}
.saveButtons, .submitButtons{
	margin-left: 5px;
	margin-right: 5px;
}
h3 {
	margin-top: 3px;
	margin-bottom: 3px;
}
p {
	margin-top: 3px; 
	margin-bottom: 5px;
}
.setOrig {
	margin-right: 5px;
}
